.pagediv{
    border: red , 1px , solid;
    height: 40px;
    display : flex;
    flex-direction: row;
  }
  
  .pagediv #left{
    width: 50%;
  }
  
  .pagediv #right{
    width: 50%;
    text-align: right;  /* 텍스트 오른쪽 정렬 */
    padding-right: 10px;  /* 여백 추가 (옵션) */
  }