:root {
    --header-height: 56px;
  }
/*메인 컨텐츠 설정 시작*/

.메뉴명{
    border: red , 1px , solid;
    height: 40px;
  
  }
  
  .버튼{
    border: red , 1px , solid;
    height: 40px;
  }
  
  .검색조건{
    border: red , 1px , solid;
    height: 40px;
  }
  
  .메인그리드{
    border: red , 1px , solid;
    height: calc(100vh - 200px - var(--header-height));
    max-height: calc(100vh - 200px - var(--header-height));
    overflow-y: auto; /* 콘텐츠가 넘칠 경우 세로 스크롤 추가 */
  }

  .TableBody{
    height: calc(100vh - 200px - var(--header-height));
    max-height: calc(100vh - 200px - var(--header-height));
    overflow-y: auto; /* 콘텐츠가 넘칠 경우 세로 스크롤 추가 */

  }
  
  .페이지{
    border: red , 1px , solid;
    height: 40px;
  }
  
  .상세보기{
    border: red , 1px , solid;
    height: 40px;
  }

  
  /*메인 컨텐츠 설정 끝*/