:root {
    --header-height: 56px;
}

/*메인 컨텐츠 설정 시작*/

.title-ctn1{
    border: red , 1px , solid;
    height: 40px;
  
}
  
.cud_button-ctn1{
  border: red , 1px , solid;
  height: 40px;
}

.read_button-ctn1{
  border: red , 1px , solid;
  height: 40px;
  text-align: right;  /* 텍스트 오른쪽 정렬 */
  padding-right: 20px;  /* 여백 추가 (옵션) */
}

.maincontent-ctn1{
  border: red , 1px , solid;
  height: calc(100vh - 160px - var(--header-height) );
  max-height: calc(100vh - 160px - var(--header-height) ); /* 원하는 높이 설정 */
  overflow-y: auto;
}


/*메인 컨텐츠 설정 끝*/
