.MainTable{
    width: 100%
}

th.col1,td.col1 {
    width: 5%;
}

th.col2,td.col2 {
    width: 10%;
}

th.col3,td.col3 {
    width: 10%;
}

th.col4,td.col4 {
    width: 5%;
}

th.col5,td.col5 {
    width: 5%;
}

th.col6,td.col6 {
    width: 10%;
}

th.col7,td.col7 {
    width: 10%;
}

th.col8,td.col8 {
    width: 10%;
}

th.col9,td.col9 {
    width: 10%;
}

th.col10,td.col10 {
    width: 10%;
}


