* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.header {
  height: 56px;
  width: 100%;
  background-color: black;
}

.main-ctn {
  display: flex;
  width: 100%;
  height: 100%;
}

.side-nav {
  width: 15%;
  border: rgb(214, 13, 13) 3px solid;
  height: 100%;
}

.content-ctn {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 100%;
}

.one {
  background-color: #3f41c7;
  flex: 10;
}

.two {
  background-color: #aa5ce5;
  flex: 1;
}

.three {
  background-color: #75e571;
  flex: 10;
}

.accordion-body {
  padding: 0;
}
.accordion-body span {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  cursor: pointer; /* 마우스를 올렸을 때 손가락 모양 커서 표시 */
}

.accordion-body hr {
  width: 100%;
  margin: 0;
}
