:root {
  --header-height: 56px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.header {
  height: var(--header-height);
  width: 100%;
  background-color: black;
}

.main-ctn {
  display: flex;
  width: 100%;
  height: 100%;
}

.side-nav {
  width: 15%;
  height: 100%;
  max-height: calc(100vh - var(--header-height)); /* 사이드바가 화면 높이를 넘지 않도록 설정 */
  overflow-y: auto; /* 콘텐츠가 넘칠 경우 세로 스크롤 추가 */
}

.content-ctn {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 100%;
}

.one {
  background-color: #3f41c7;
  flex: 10;
}

.two {
  background-color: #aa5ce5;
  flex: 1;
}

.three {
  background-color: #75e571;
  flex: 10;
}

/*사이드바 설정 시작*/
.accordion-body {
  padding: 0;
}

.accordion-body span {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  cursor: pointer; /* 마우스를 올렸을 때 손가락 모양 커서 표시 */
  
}

.accordion-body hr {
  width: 100%;
  margin: 0;
  color: white;
}

.accordion-item{
    border: white
}


/*사이드바 설정 끝*/



